<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--无参构造实现bean的实例化-->
    <!--    <bean id="userDao" class="com.tc.dao.impl.UserDaoImpl" init-method="init" destroy-method="destroy"></bean>-->
    <bean id="userDao" class="com.tc.dao.impl.UserDaoImpl">
<!--        集合数据类型的注入-->
        <property name="list">
          <list>
              <value>aaa</value>
              <value>ccc</value>
              <value>bbb</value>
          </list>
        </property>
        <property name="map">
            <map>
                <entry key="map1" value-ref="user1"></entry>
                <entry key="map2" value-ref="user2"></entry>
            </map>
        </property>
        <property name="properties" >
            <props>
                <prop key="p1">pppp2</prop>
                <prop key="p2">pppp3</prop>
            </props>
        </property>
<!--        基本数据类型的依赖注入-->
      <!--  <property name="age" value="22"></property>
        <property name="username" value="zhangsan"></property>-->

    </bean>
    <bean id="user1" class="com.tc.domain.User">
        <property name="age" value="28"></property>
        <property name="name" value="zhangsan"></property>
    </bean>
    <bean id="user2" class="com.tc.domain.User">
        <property name="age" value="33"></property>
        <property name="name" value="lisi"></property>
    </bean>

    <!--p 命名空间的注入-->
    <!--    <bean id="userService" class="com.tc.service.UserServiceImpl" p:userDao-ref="userDao">-->
    <bean id="userService" class="com.tc.service.UserServiceImpl">
        <!--        构造方法的注入 name是构造方法的参数 ref则是将谁的依赖注入进去也就是bean的id-->
        <constructor-arg name="userDao" ref="userDao"></constructor-arg>
        <!--        第一个userDao是set方法的属性 第二个userDao是将谁的依赖注入进去也就是bean的id-->
        <!--        <property name="userDao" ref="userDao"></property>-->
    </bean>
    <!--静态工厂实现bean的实例化-->
    <!--<bean id="userDao" class="com.tc.factory.StaticFactory" factory-method="getUserDao"></bean>-->
    <!--实例工厂实现bean的实例化,-->
    <!--    <bean id="factoryBean" class="com.tc.factory.DynamicFactory"></bean>-->
    <!--    <bean id="userDao" factory-bean="factoryBean" factory-method="getUserDao"></bean>-->
</beans>